* {
        
    font-family:Ubuntu ;
    scroll-behavior: smooth !important;
}
body {
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav-link {
    margin-right: 11px;
}
#nav1 {
    font-weight: 500;
    margin-right: 300px;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
.dropdown-menu {
    background-color: #005aab;
    border: none;
    
}
.dropdown-item {
    font-weight: 500 !important;
    color: rgb(218, 218, 218);
}
.dropdown-item:hover {
    color: #FEC013 !important;
    background-color: transparent !important;
}
.logo{
    width: 150px;
}
#nav1 :hover {
    color:  #ffc527;
}
#nav1 a:active{
    color: #FEC013;
}
#navbarNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10;
    background-color: #005aab;
    padding: 10px 0;
}
@media (max-width :990px) {
    .lang {
        display: none;
    }
    .dropdown-item { 
        margin-left: 20px;
        color: #3a7eb6;
    }
}
/*.navbar .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #FEC013;
  }
.navbar .navbar-nav .nav-link.active {
    color: #FEC013;
    background-color: transparent;
}
.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1;
    background-color: #FEC013;
    bottom: -2;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover::after {
    transform: scaleX(1); 
}
.navbar .navbar-nav :active {
    border-bottom: 2px solid #FEC013;
} */

.swiper{
    width: 56%;
    height: auto; 
    object-fit: cover;
  }
.swiper-button-next {
    color: white;
}
.swiper-button-prev {
    color: white;
}
.swiper-pagination-bullet-active {
    background-color: #FEC013;   
}   
/*   .search :hover {
    position: relative;
    color: #FEC013;
}
/*.search-icon {
    margin-top: -12px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    left: 110%;
    z-index: 10;
}
/*.search-container {
    position: relative;
    display: inline-block;
    right: 14%;
    margin-top: 3px;
}
/* .search-box {
    display: flex;
    position: absolute;
    left: -200px;
    right: 100%;
    font-size: 13px;
    margin-top: -15px;
    width: 100%; 
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    
} */
/*.search input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px; 
} */

.btn-daftar {
  color: #FEC013;
  border: 1px solid #FEC013;
  font-weight: bold;
}
.btn-login {
    border: 1px solid #FEC013;
    color: #FEC013;
    font-weight: bold;
}
.account {
    gap: 10px;
    position: absolute;
    right: 20.5vw;
}
.account .btn-daftar:hover {
    background-color: #FEC013;
    color: white;
    transition: all 0.2s ease-in-out;
}
.account .btn-login:hover {
    background-color: #FEC013;
    color: white;
    transition: all 0.2s ease-in-out;
}
.account a {
    padding: 5px 15px;
}
@media (max-width :1900px) {
    .account {
        position: absolute;
        right: 10%;
    }
}
@media (max-width :1430px) {
    .account {
        position: absolute;
        right: 2%;
    }
}
@media (max-width :1210px) {
    .account {
        position: absolute;
        right: 18vw;
        top: 3vh;
        display: none !important;
    }
}
.pagh {
    font-weight: lighter;
    font-size: 15px;
}
.judul1 {
    font-size: 21px;
    color: rgb(36, 36, 36);
}
.judul2 {
    position: relative;
    top: 210px;
    font-size: 17px;
}
.banner img{
    margin-top: 80px !important;
    display: block !important;
    /* width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image:         linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-position: bottom;
    mask-position:         bottom;
    -webkit-mask-size: 100% 100%;
    mask-size:         100% 100%;
    background-color: white; */
}
   
@media (min-width:1500px) {
    .banner img{
        margin-top: 80px !important;
    }
}

/*.icon {
    font-size: 18px;
    color: white;
    position: relative;
    right: 22vw;
}
.icon:hover {
    color: #FEC013;
}

/*@media (max-width : 1270px) {
    .navbar-nav {
        display: none;
    }
    .search-container {
        display: none;
    }
    .profile {
        position: absolute;
        justify-content: end; 
    }
}*/

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
/* TopNews */
.topnews {
    background-color: #f1f1f1;
}

.header-images,
.header-images img {
    border-radius: 5px !important;
    height: 35vh !important;
    max-height: 35vh !important;
}

.header-images img {
    object-fit: cover !important;
    width: 100% !important;
}

.card-top-news .title {
    width: auto ;
    border-radius: 5px; 
    background-color: #005aab !important;
    font-size: 18px;
    padding: 5px ;
    color: white;
}
.post-images:hover .img-fluid {
    transform: scale(1.2);
}

.post-images {
    overflow: hidden;
    position: relative;
}

.img-fluid {
    transition: all 1.1s;
}
.berita {
   font-size: 30px;
}
.berita::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px;
    background-color: #FEC013 ;
    margin-top: 10px;
  }
#btn {
    font-size: 14px;
    border-radius:7px;
    transition: all 0.3s ease-in-out;
}
#btn:hover {
    color: white; 
    background-color: #17a2b8;
    
  }
/* HeadNews */

.headline_news hr,
.latest_news hr,
.area_agenda hr,
.area_video hr {
    opacity: unset;
    border-width: 4px;
    width: 6%;
    border-color: #FEC013;
    border-radius: 10px;
    position: absolute;
    left: 20;
}

.card-img-overlay {
    background: rgba(0, 0, 0, .4) !important;
}

.card-overlay img {
    object-fit: cover;
    object-position: center;
}

.card-overlay {
    overflow: hidden;
    position: relative;
}

.card-img {
    transition: all 1.1s;
}

.card-overlay:hover .card-img {
    transform: scale(1.2);

}

.card-overlay a:hover {
    text-decoration-color: #005aab;
    text-decoration-thickness: 2px;
}


.btn-more a {
    color: #005aab;
    border: 2px solid #005aab;
}

.btn-more a:hover {
    text-decoration: none;
    background-color: #005aab;
    color: white;
}

.bg-kotak-agenda {
    background-color: #005aab !important;
}

@media (max-width: 767.98px) {

    .headline-images,
    .header-images {
        height: 25vh !important;
        max-height: 25vh !important;
    }

    .headline_news hr,
    .latest_news hr,
    .area_agenda hr,
    .area_video hr {
        opacity: unset;
        border-width: 4px;
        width: 15%;
        border-radius: 5px;
    }
}
@media (max-width: 996px) {
    .judul2 {
      position: absolute;
      top: 0;
    }
  }
.judul {
    font-weight: 500;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 4px;
    text-align: start;
    font-size: 17px; 
}

/* footer */
footer {
    font-size: 13px;
  }
  
  footer h6 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  footer a:hover {
    color: #007bff;
    text-decoration: none;
  }
#sosmed {
    font-size: 20px;
}

@media (max-width: 760px) {
    #footer1{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}
@media (max-width: 560px) {
    #footer1{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}

/* Agenda */ 
.judul3 {
    color: rgb(89, 89, 92);
    font-size: 24px;
    font-weight: bold;
    
}
.pagh1 {
    display: block;
    font-size: 13px;
}

.agenda-date {
    background-color: rgb(241, 241, 241);
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
  }
  
  .agenda-month {
    background-color: #17a2b8;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
  }
  .agenda-content {
    padding: 0 20px;
  }
  .agenda-content h6{
    font-size: 17px;
  }
  .agenda-content p {
    font-size: 13px;
    position: relative;
    margin-top: 35px;
  }
  .agenda-section {
    max-height: 700px;
  }
  .agenda-terkait {
    font-size:  2.1rem;
    margin-bottom: 30px;
  }
  .agenda-terkait::after {
    content: "";
    display: block;
    width: 100px; 
    height: 4px;
    background-color: #FEC013 ;
    margin-top: 10px;
  }
.agenda-title a:hover {
    text-decoration: underline;
}
.agenda-location {
    position: absolute;
    bottom: 20%;
    font-size: 13px;
    color: #666;
}
.agenda-item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-right: 15px;
    min-width: 360px;
  }
#btn2 {
    font-size: 14px;
    border-radius:7px;
    transition: all 0.3s ease-in-out;
}
#btn2:hover {
    color: white; 
    background-color: #17a2b8;
    
  }
@media (max-width: 760px) {
    .agenda-section {
    flex-direction: column;
    }
    .agenda-item {
    width: 100%;
    }
    .swiper {
        width: 100%;
        height: auto;
    }
}
.dropdown-menu {
    margin-top: 220px;
}

/* Profile */
.judul4 {
    margin-top: 130px !important;
    margin-bottom: -70px !important;
    margin-left: 45px;
}
.judul4::after {
    content: "";
    display: block;
    width: 440px; 
    height: 4px;
    background-color: #FEC013 ;
    margin-top: 15px;
}
.unaki {
    width: 410px;
    height: auto;
    float: left;
    margin-left:15px;
    margin-right: 20px;
}
.text-section1 {
    font-size: 14px;
    text-align: justify;
}

/* dropdown content */
.prodi {
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
}
.dropdown-toggle::after {
    display: none;
  }